<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Composer Embed</title>
    <script data-name="composer-embed-manager" src="http://localhost:8080/composer/embed/embed.js"></script>
</head>
<body>
<div class="flex-container">
    <div id="main">
        <div id="main-view">
            <div class="widget-holder"></div>
            <div class="message-holder"></div>
        </div>
    </div>    
</div>
<script src="./main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>